@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --text: 255, 255, 255;
  --primary: 0, 0, 0;
  --nav-bg: #101010;
  --component-bg: #1e1e1e;
  --highlight: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.MuiTableCell-root
.MuiTableCell-body
.MuiTableCell-sizeMedium
.css-1ex1afd-MuiTableCell-root {
border: none;
border-bottom: none;
}
