body {
  margin: 0;
  padding: 1;
  background-color: rgb(var(--primary));
  color: rgb(var(--text));
}

.primary-nav {
  background: var(--component-bg);
}

.highlighted {
  background: var(--highlight);
}

.secondary-nav {
  background: var(--nav-bg);
}

.white-shadow {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.css-9mgopn-MuiDivider-root {
  border-color: rgb(100 95 95 / 92%);
}

td {
  border: none;
  border-bottom: none !important;
  padding: 8px !important;
}

.css-1q1u3t4-MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: rgb(255, 255, 255);
}
tr:hover {
  background: #373333;
}

.css-1q1u3t4-MuiTableRow-root.MuiTableRow-hover:hover {
  background: #373333;
}
