body {
  margin: 0;
  padding: 1;
  background-color: rgb(var(--primary));
  color: rgb(var(--text));
}

.primary-nav{
  background: var(--component-bg);
}

.highlighted{
  background: var(--highlight);
}